/*
Custom Css
*/
.concatupimg {
    background-image: url("../../assets/img/concatup.jpeg");
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .sticky {
    z-index: 100;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .content {
    padding: 16px;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .firstImg{
    background: url(https://c1.wallpaperflare.com/preview/106/1005/114/beautiful-casual-countryside-daylight.jpg) center center no-repeat;
    background-size: cover;
  }